::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #FF7777;
    border-radius: 100px;
}

.App {
    padding: 64px;
    background: repeating-linear-gradient(45deg,#ffafbd 10% ,#a0ffd3 92%);
    color: rgb(55, 100, 253);
}
a{
    color:white;
}
img {
    float: right;
}

#hacktober {
    width: 150px;
}

h1 {
    color: rgb(240, 4, 4);
    text-decoration: underline;
    font-size: 38px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
}

.search-box {
    outline: none;
    width: fit-content;
    border: 1px solid rgb(240, 4, 4);
    font-size: 16px;
    padding: 16px;
    border-radius: 8px;
}

footer {
    margin-top: 100px;
    background-color: rgb(206, 18, 18);
    box-shadow: 0 0 28px 4px rgb(218, 3, 3);
    height: 100px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    border-radius: 20px;
}
@media only screen and (max-width:400px){
    h1 {
    color: rgb(240, 4, 4);
    text-decoration: underline;
    font-size: 26px;
    top: 10px;
    position: relative;
}
.App a img{
}

    }